body {
    display: flex;
    justify-content: center;
    font-family: "Arial", "sans-serif";
    background-color: black;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
    margin: 90px 30px 0px 0px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
}

.gridSizeButton {
    padding: 5px 20px;
}

.size {
    text-align: center;
}

.gameTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    border: 2px solid red;
    background-color: white;
}


.square {
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: white;;
}

