.grid {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin: auto;
    border: 2px solid black;
}

.pixel {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 1px solid grey;
    background-color: white;
}

.colored {
    background-color: black;
}
